@import "bootstrap/scss/bootstrap.scss";
@import "./variables.scss";
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

// text customizations
.sub-text {
  font-size: 0.8rem;
  opacity: 0.7;
}
.text-bold {
  font-weight: $font-weight-bold;
}
.page-title {
  font-size: $font-size-xl;
  font-weight: $font-weight-semi-bold;
}

// form customizations
.input-normal-color-custom {
  border-color: #d8dfe7;
  &:focus {
    border-color: #2c7be5;
    box-shadow: none;
  }
}

// size box customizations
.h-fullscreen {
  height: 100vh;
}

// Utilies
.border-light {
  border: 1px solid $gray-light !important;
}

// Account page style
.account-page {
  & .username {
    font-weight: 700;
  }
}
// suggest topic page style
.input-textarea {
  min-height: 200px !important;
  overflow: hidden;
}

// Topic page style
.table-grid-wrapper {
  display: grid;
  grid-template-columns: 1fr 4fr 2fr 2fr 3fr 2fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "checkbox title duyet enable creator lastupdate menua";
  padding: 10px 0;
  border-bottom: 1px solid $gray-light;
  &.title {
    background-color: #f9fbfd;
    font-weight: $font-weight-bold;
    font-size: $font-size-xm;
    color: #95aac9;
  }
  &.item {
    font-size: $font-size-sm;
  }
  & .table-grid-item-checkbox {
    grid-area: checkbox;
    display: flex;
    justify-content: center;
    font-size: $font-size-sm;
  }
  & .table-grid-item-title {
    grid-area: title;
  }
  & .table-grid-item-duyet {
    grid-area: duyet;
  }
  & .table-grid-item-enable {
    grid-area: enable;
  }
  & .table-grid-item-creator {
    grid-area: creator;
  }
  & .table-grid-item-lastupdate {
    grid-area: lastupdate;
  }
  & .table-grid-item-menu {
    grid-area: menua;
    & .dropdown-item {
      font-size: $font-size-sm;
    }
  }
}
.topics-page {
  & .nav-link {
    color: black;
    padding-bottom: 1rem;
    &.active {
      color: $blue;
      border-bottom: 2px solid $blue;
    }
  }
}

// popup style
.popup {
  background-color: rgb(236, 227, 227);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 300px;
  position: Fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// Option Topic style
.options-topic {
  min-width: 350px;
  background-color: #f3f3f3;
  border: 1px solid #bac0fb;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  color: black;
  position: Fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}
